name: "PROD DEPLOY"

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: prod
      aws-assume-role-arn: "arn:aws:iam::235831254395:role/devoops_terraform"
      aws-region: "sa-east-1"
      aws-statefile-s3-bucket: "{{ italo1033-sa-east-1-terraform-statefile }}"
      aws-lock-dynamodb-table: "{{ italo1033-sa-east-1-terraform-lock }}"